p, .text
  fontsize(16px)
  font-weight 300
  line-height 1.6

.centered
  text-align center

.left
  text-align left

.right
  text-align right

.uppercase
  text-transform uppercase

strong, .bold
  font-weight 600

em, .italic
  font-style italic

a
  text-decoration none

input
  height auto

.fullWidth
  width 100%

.softHover
  opacity .85
  transition opacity .3s ease
  will-change opacity

  &:hover
    opacity 1

// smooth-scrollbar
// .scroll-content
//   @media screen and (max-width: mobile)
//     transform: none !important

.scrollbar-track
  border-radius 5px
//   @media screen and (max-width: mobile)
//     display none !important

.scrollbar-track-x
  display none !important

// transitions
.fade-enter-active, .fade-leave-active
  transition opacity .3s ease
  opacity 1
  will-change opacity

.fade-enter, .fade-leave-to
  opacity 0
