p, .text
  fontsize(16px)
  font-weight 300
  line-height 1.6

.centered
  text-align center

.left
  text-align left

.right
  text-align right

.uppercase
  text-transform uppercase

strong, .bold
  font-weight 600

em, .italic
  font-style italic

a
  text-decoration none

input
  height auto

.fullWidth
  width 100%

.softHover
  opacity .85
  transition opacity .3s ease
  will-change opacity

  &:hover
    opacity 1
